{% extends "base.html" %}
{% load custom_tags taggit_extras %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml" title="Damian Moore's Project Feed" href="{% url 'project-feed' %}" />
{% endblock %}

{% block content %}
    <a href="{% url 'project-feed' %}">Project feed</a>
    {% for project in object_list %}
        <div class="project">
            <h1><a href="{% url 'project-detail' slug=project.slug %}">{{ project.title }}</a></h1>
            {% if project.photo %}
                <a href="{% url 'project-detail' slug=project.slug %}"><img src="{{ project.photo.get_display_url }}" alt="{{ project.photo.title }}" class="cover-photo" /></a>
            {% endif %}
            <div class="summary">
                {{ project.created }}
                <div class="tags">
                    {% for tag in project.tags.all %}<span class="tag">{{ tag }}</span>{% endfor %}
                </div>
                {% if project.github_uri %}<p><a href="https://github.com/{{ project.github_uri }}">View this project on GitHub</a></p>{% endif %}
                {{ project.content.rendered|fetch_external_markdown|strip_heading|limit_paras|safe }}
                <p><a href="{% url 'project-detail' slug=project.slug %}">Read more&hellip;</a></p>
            </div>
        </div>
    {% endfor %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'project-list' %}?page={{ page_obj.previous_page_number }}">&lt; Previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'project-list' %}?page={{ page_obj.next_page_number }}">Next &gt;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

    <h2>Tags</h2>
    <div class="tag-cloud">
        {% get_tagcloud as tags for 'epixweb.apps.project.Project' %}
        {% for tag in tags %}
            <a href="{% url 'project-list' %}?tags__name={{ tag }}"><span class="tag" style="font-size: {{ tag.weight|floatformat:0 }}px">{{ tag }}</span></a>
        {% endfor %}
    </div>
{% endblock %}
