services:
  postgres:
    container_name: epixweb-postgres
    image: postgres:16
    volumes:
     - ./volumes/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: epixweb
      POSTGRES_USER: epixweb
    ports:
     - "5432:5432"

  epixweb:
    container_name: epixweb
    build: .
    ports:
     - "8000:80"
     - "8001:8000"
     - "8002:8001"
     - "3000:3000"
     - "3001:3001"
    volumes:
      - ./epixweb:/srv/epixweb
      - ./frontend/package.json:/srv/frontend/package.json
      - ./frontend/components:/srv/frontend/components
      - ./frontend/helpers:/srv/frontend/helpers
      - ./frontend/pages:/srv/frontend/pages
      - ./frontend/utils:/srv/frontend/utils
      - ./volumes/uploads:/srv/epixweb/var/uploads
      - ./static:/srv/static
      - ./system:/srv/system
      - ./templates:/srv/templates
      - ./manage.py:/srv/manage.py
    environment:
      ENV: loc
      DB_HOST: postgres
      DB_PORT: "5432"
      DB_NAME: epixweb
      DB_USER: epixweb
      DB_PASSWORD: password
    depends_on:
      - postgres
