Markdown==3.1.1
#celery==3.1.8
Django==2.2.22
#django-cacheback==0.6
#django-celery==3.1.1
django-filer==1.6.0
django-filter==2.2.0
#django-mptt-tree-editor==0.1.2
git+https://github.com/moneypark/django-mptt-tree-editor
django-pagedown==2.0.3
#django-redis==3.5.0
django-tagging==0.4.6
django-taggit==1.2.0
django-taggit-autosuggest==0.3.8
django-taggit-templatetags==0.2.5
easy-thumbnails==2.7
feedparser==5.2.1
flickrapi==2.4.0
gunicorn==20.0.4
mysqlclient==1.4.6
Pillow-SIMD==7.0.0.post3
#pylibmc==1.2.3
pytz==2019.3
raven==6.10.0
#redis==2.9.1
requests==2.22.0
twitter==1.18.0
