@import './colors.scss';


.blackout {
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.window {
  width: 90%;
  height: 90%;
  position: fixed;
  overflow-y: scroll;
  top: 5%;
  left: 5%;
  background: #fff;
  border-radius: 4px;
  z-index: 20;
  color: $dark;
}

.windowDark {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 20px;
  color: $light;
  h1 {
    font-weight: 700;
    font-size: 18px;
    color: $light;
    line-height: 1.1;
    margin-bottom: 4px;
  }
}
