.container {
  background: #fff;
  color: #000;
  border-radius: 3px;
  display: block;
  width: 250px;
  margin-bottom: 30px;
  padding: 10px;
  vertical-align: top;
	transition: .8s opacity;
  cursor: zoom-in;
}
