{% extends "base.html" %}
{% load custom_tags %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml" title="Damian Moore's Project Feed" href="{% url 'project-feed' %}" />
{% endblock %}

{% block content %}
    <a href="{% url 'project-feed' %}">Project feed</a>
    {% for project in object_list %}
        <div class="project">
            <h1><a href="{% url 'project-detail' slug=project.slug %}">{{ project.title }}</a></h1>

            {% if project.photo %}
                <a href="{% url 'project-detail' slug=project.slug %}"><img src="{{ project.photo.get_display_url }}" alt="{{ project.photo.title }}" class="cover-photo" /></a>
            {% endif %}

            <div class="summary">
                {{ project.created }}
                <div class="tags">
                    {% for tag in project.tags.all %}<span class="tag">{{ tag }}</span>{% endfor %}
                </div>
                {% if project.github_uri %}<p><a href="https://github.com/{{ project.github_uri }}">View this project on GitHub</a></p>{% endif %}

                {{ project.content.rendered|fetch_external_markdown|strip_heading|limit_paras|safe }}

                <p><a href="{% url 'project-detail' slug=project.slug %}">Read more&hellip;</a></p>
            </div>
        </div>
    {% endfor %}

    {% include 'snippets/pagination.html' %}

    {% with 'epixweb.apps.project.Project' as model and 'project-list' as page %}
        {% include 'snippets/tag_cloud.html' %}
    {% endwith %}
{% endblock %}
