/* Override demo.css styles that break Django admin */
.wmd-button-bar {
    background-color: transparent !important;
}

.wmd-wrapper{
    display: inline-block;
}

.wmd-panel{
    margin-left: 0;
    width: 100%;
    min-width: auto !important;
}

    .wmd-panel textarea {
        outline: 0;
    }

.wmd-button-row{
    margin-left: 0 !important;
}
.colM ul.wmd-button-row {
    border: 0;
    margin: 10px 0;
}
.colM ul.wmd-button-row li {
    border: 0;
    padding: 0;
}

.wmd-input{
    background-color: var(--body-bg, white) !important;
    color: var(--body-fg, #333) !important;
    border: 1px solid var(--border-color, #ccc) !important;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
}

.wmd-preview-title {
    margin: 10px 0 5px 0 !important;
}

.wmd-preview{
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;

    box-sizing: border-box;
    padding: 12px 14px;
    margin: 10px 0 0 0;
    background: var(--darkened-bg, #f8f8f8) !important;
    border: 1px solid var(--border-color, #ccc) !important;
    border-radius: 4px;
    color: var(--body-fg, #333) !important;
}

.wmd-preview * {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif !important;
}


.wmd-preview a {
    color: var(--link-fg, #447e9b);
    text-decoration:underline;
}

.wmd-preview a:link,
.wmd-preview a:visited{
    color: var(--link-fg, #447e9b);
}

.wmd-preview a:hover,
.wmd-preview a:focus{
    color: var(--link-hover-color, #036);
}

.wmd-preview a:active{
    text-decoration: underline;
}

.wmd-preview a:hover,
.wmd-preview a:active{
    outline: 0;
}

.wmd-preview ::-moz-selection,
.wmd-preview ::selection,
.wmd-preview a::-moz-selection,
.wmd-preview a::selection {
    background: #84ADC5;
    color: #000
}

.wmd-preview p{
    margin: 0 0 15px;
    padding: 0;
}

.wmd-preview img{
    max-width:100%;
}

.wmd-preview h1,
.wmd-preview h2,
.wmd-preview h3,
.wmd-preview h4,
.wmd-preview h5,
.wmd-preview h6 {
    margin: 20px 0 15px 0!important;
    padding: 0;
    color: var(--body-quiet-color, #666);
    font-weight: bold;
    background: none;
    border: 0;
    line-height: 1.25;
}

.wmd-preview h1{
    font-size: 20px!important;
    margin: 50px 0 15px!important;
}

.wmd-preview h2{
    font-size: 18px!important;
    margin: 40px 0 15px!important;
}

.wmd-preview h3{
    font-size: 17px!important;
    margin: 30px 0 15px!important;
}

.wmd-preview h4{
    font-size: 16px!important;
}

.wmd-preview h5{
    font-size: 15px!important;
}

.wmd-preview h6{
    font-size: 14px!important;
}

.wmd-preview blockquote{
    margin: 0 0 15px 0;
    padding-left: 1em;
    border-left: 0.5em var(--hairline-color, #ddd) solid;
}

    .wmd-preview blockquote p {
        font-style: italic;
    }


.wmd-preview hr {
    display: block;
    height: 0px;
    border: 0;
    font-style: italic;
    border-bottom: 1px solid var(--hairline-color, #ddd);
    margin: 0 0 15px 0;
    padding: 0;
}

.wmd-preview pre,
.wmd-preview code,
.wmd-preview kbd,
.wmd-preview samp {
    color: var(--body-fg, #000);
    font-family: Consolas, "Liberation Mono", Courier, monospace, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
}

/* Code inline */
.wmd-preview code {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid var(--hairline-color, #ddd);
    background-color: var(--darkened-bg, #f8f8f8);
    border-radius: 2px;
    color: var(--body-fg, #444);
    font-size: 95%;
}

    .wmd-preview a code{
        color: #447e9b;
    }

/* Block code */
.wmd-preview pre{
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 15px 0;
    padding: 10px;

    margin: 0 0 15px 0;
    padding-left: 1em;
    border-left: 0.5em var(--hairline-color, #ddd) solid;
    background-color: var(--darkened-bg, #eee);
    border-radius: 0 4px 4px 0;
}
.wmd-preview pre code {
    background-color: transparent;
    border: 0;

    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}

.wmd-preview b, .wmd-preview strong { font-weight: bold; }

.wmd-preview dfn { font-style: italic; }

.wmd-preview ins { background: #ff9; color: #000; text-decoration: none; }

.wmd-preview mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

.wmd-preview sub, .wmd-preview sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
.wmd-preview sup { top: -0.5em; }
.wmd-preview sub { bottom: -0.25em; }

.wmd-preview ul,
.wmd-preview ol {
    margin: 0 0 15px 15px !important;
    padding: 0 0 0 15px !important;
}

.wmd-preview ul li {
    list-style: disc !important;
}

.wmd-preview ul li ul,
.wmd-preview ol li ul,
.wmd-preview ul li ol,
.wmd-preview ol li ol{
    margin-bottom: 0 !important;
}

.wmd-preview li p:last-child {
    margin:0
}

.wmd-preview dl {
    padding: 0;
    margin: 0 0 15px 0;
}

    .wmd-preview dt {
        padding: 0;
    }

    .wmd-preview dd {
        padding-left: 30px;
    }

.wmd-preview img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

.wmd-preview table { border-collapse: collapse; border-spacing: 0; }
.wmd-preview td { vertical-align: top; }

.colM .wmd-preview ul{
    border: 0;
}
.colM .wmd-preview ul li {
    font-weight: normal;
    border: 0;
    padding: 0;
    color: var(--body-quiet-color, #666);
}

/* Inlines */
.inline-related .wmd-input {
    height: 150px;
}
